[Unit]
Description=Public IP to Discord
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/pubipdiscord/main.py
WorkingDirectory=/opt/pubipdiscord
Restart=always

[Install]
WantedBy=multi-user.target