[Unit]
Description=Public IP to Discord
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /opt/pubipdiscord/main.py
WorkingDirectory=/opt/pubipdiscord
Restart=on-failure

[Install]
WantedBy=multi-user.target